body {
    background-color: #dfe9f6;
    margin: 20px;
    padding: 20px;
}

.box {
    border: 2px solid darkblue;
}

.box .title {
    background: darkblue;
    color: white;
    padding: 10px;
    text-transform: uppercase;
    text-align: left;
}

.box .content {
    color: darkblue;
    padding: 10px;
}

.box .content .code {
    color: slateblue;
}

.box {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

h1 {
    color: darkblue;
}

h3 {
    color: darkblue;
}

.assemble-icon {
    background-image: url(../images/assemble.png) !important;
}

.cpu-icon {
    background-image: url(../images/cpu.png) !important;
}

.halt-icon {
    background-image: url(../images/halt.png) !important;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.load-icon {
    background-image: url(../images/load.png) !important;
}

.memory-col-header {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-weight: 900;
}

.memory-row-header {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-weight: 900;
    text-align: right;
    border: none;
}

.memory-cell {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    color: darkgrey;
    text-align: center;
    border: none;
}

.register-label {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-weight: 900;
    font-size: 12px;
    color: darkblue;
    text-align: left;
}

.reset-icon {
    background-image: url(../images/reset.png) !important;
}

.save-icon {
    background-image: url(../images/save.png) !important;
}

.step-icon {
    background-image: url(../images/step.png) !important;
}

.tape-icon {
    background-image: url(../images/tape.png) !important;
}

.x-tip {
    width: auto !important;
}

.x-tip-body {
    width: auto !important;
}

.x-tip-body span {
    width: auto !important;
}
