body {
    font-family: serif;
    font-size: 80%;
}

i {
    color: darkred;
}

.code {
    color: darkred;
}

.assemble-icon {
    background-image: url(../images/assemble.png) !important;
}

.cpu-icon {
    background-image: url(../images/cpu.png) !important;
}

.halt-icon {
    background-image: url(../images/halt.png) !important;
    background-repeat: no-repeat;
    width: 48px;
    height: 48px;
}

.load-icon {
    background-image: url(../images/load.png) !important;
}

.memory-col-header {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-weight: 900;
}

.memory-row-header {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-weight: 900;
    text-align: right;
    border: none;
}

.memory-cell {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    color: darkgrey;
    text-align: center;
    border: none;
}

.register-label {
    font-family: "Menlo", "Courier New", "Courier", monospace;
    font-weight: 900;
    font-size: 12px;
    color: #4c3000;
    text-align: left;
}

.reset-icon {
    background-image: url(../images/reset.png) !important;
}

.save-icon {
    background-image: url(../images/save.png) !important;
}

.step-icon {
    background-image: url(../images/step.png) !important;
}

.tape-icon {
    background-image: url(../images/tape.png) !important;
}

.x-tip {
    width: auto !important;
}

.x-tip-body {
    width: auto !important;
}

.x-tip-body span {
    width: auto !important;
}

.x-panel-header-text-container-default {
    color: #4c3000 !important;
}

.x-panel-header-default {
    border: 1px solid #4c3000;
    background-image: none;
    background-color: #ffcc00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #FFDE73));
    background-image: -webkit-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -moz-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -o-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: linear-gradient(top, #ffcc00, #FFDE73);
}

.x-panel-body-default {
    border: 1px solid #4c3000;
    background-color: rgb(254, 238, 189);
}

.x-toolbar-default {
    border: 1px solid #4c3000;
    background-image: none;
    background-color: #ffcc00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #FFDE73));
    background-image: -webkit-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -moz-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -o-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: linear-gradient(top, #ffcc00, #FFDE73);
}

.x-btn-default-small {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 2px 2px 2px;
    border-color: #ffcc00;
    border-width: 1px;
    border-style: solid;
    background-image: none;
    background-color: #FFDE73;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFDE73), color-stop(100%, #feeebd));
    background-image: -webkit-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -moz-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -o-linear-gradient(top, #FFDE73, #feeebd);
    background-image: linear-gradient(top, #FFDE73, #feeebd);
}

.x-btn-default-small-over {
    border-color: #ffaa00;
    background-image: none;
    background-color: #FFDE73;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFDE73), color-stop(100%, #feeebd));
    background-image: -webkit-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -moz-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -o-linear-gradient(top, #FFDE73, #feeebd);
    background-image: linear-gradient(top, #FFDE73, #feeebd);
}

/* line 516, ../../../ext-theme-neutral/sass/src/button/Button.scss */
.x-btn-default-small-focus {
    border-color: #908877;
    background-image: none;
    background-color: #FFDE73;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFDE73), color-stop(100%, #feeebd));
    background-image: -webkit-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -moz-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -o-linear-gradient(top, #FFDE73, #feeebd);
    background-image: linear-gradient(top, #FFDE73, #feeebd);
}

/* line 541, ../../../ext-theme-neutral/sass/src/button/Button.scss */
.x-btn-default-small-menu-active,
.x-btn-default-small-pressed {
    border-color: #ffaa00;
    background-image: none;
    background-color: #ffcc00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #FFDE73));
    background-image: -webkit-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -moz-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -o-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: linear-gradient(top, #ffcc00, #FFDE73);
}

.x-btn-default-toolbar-small-over {
    border-color: #ffaa00;
    background-image: none;
    background-color: #FFDE73;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFDE73), color-stop(100%, #feeebd));
    background-image: -webkit-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -moz-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -o-linear-gradient(top, #FFDE73, #feeebd);
    background-image: linear-gradient(top, #FFDE73, #feeebd);
}

.x-btn-default-toolbar-small-focus {
    border-color: #908877;
    background-image: none;
    background-color: #FFDE73;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FFDE73), color-stop(100%, #feeebd));
    background-image: -webkit-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -moz-linear-gradient(top, #FFDE73, #feeebd);
    background-image: -o-linear-gradient(top, #FFDE73, #feeebd);
    background-image: linear-gradient(top, #FFDE73, #feeebd);
}

.x-btn-default-toolbar-small-pressed {
    border-color: #ffaa00;
    background-image: none;
    background-color: #ffcc00;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffcc00), color-stop(100%, #FFDE73));
    background-image: -webkit-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -moz-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: -o-linear-gradient(top, #ffcc00, #FFDE73);
    background-image: linear-gradient(top, #ffcc00, #FFDE73);
}

.x-tip-default {
    border-color: #ffaa00;
    background-color: #FFDE73;
}